<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/chatbot.css">

    </head>

</head>

<body>
    <div class="app-container">
        <div class="header">
            <div class="logo-container">
                <img src="logo .png" alt="logo" class="logo">
            </div>
            <div class="left-header">
                <a href="#" class="home">Home</a>
                <img src="profile.png" alt="prf" class="profile">
            </div>
        </div>

        <div class="body">
            <div class="left">
                <h3>Read Specifically About : </h3>
                <p>Stress and Anxiety</p>
                <p>Sleep Issues and Fatigue</p>
                <p>Low Mood and Motvation</p>
                <p>Social Anxiety and Isolation</p>
                <p>Panic Attack Support</p>
                <p>Self Care and Emotional Well-Being</p>
                <p>Period related Mood Swings</p>
                <p>PMS-Related Fatigue and Discomfort</p>
            </div>
            <div class="line">
                <div></div>
            </div>
            <div class="right">
                <div class="ai-prompt" id="content">
                    <div class="up">
                        <img src="Images/logo1.png" alt="ai-logo" class="ai-logo">
                        <p id="first">Hi, How can I help you?</p>
                    </div>
                    
                    <div class="down">
                        <button class="button"><i class="fa-solid fa-copy" class="copy"></i>Copy</button>
                    </div>

                </div>
                <!--<div class="up-down" id = "content">
                    <img src="Images/ai-logo.png" alt="ai-logo" class="ai-logo">
                    <p id="second">Hello!</p>
                </div>-->
                <div class="input-area">
                    <input type="text" class="chat-input" id="userInput" placeholder="Type a message..." autocomplete="off">
                    <button onclick="sendMessage()" class="send-button"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script src="css/chatbotjs.js"></script>

</body>

</html>
