<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href="css/Nutrition.css">

</head>

<body>
    
    <div class="app-container">

        <div class="header">
            <div>
                <img src="Images/logo .png" alt="logo" class="logo">
            </div>
            <div class="left-header">
                <p class="home">Home</p>
                <img src="Images/profile.png" alt="prf" class="profile">
            </div>
        </div>
        <div class="recipe-wrapper">
            <h1>Healthy Avocado Salad</h1>
            <img src="Images/1h.png" alt="Avocado Salad" class="recipe-image">
        
            <div class="section">
                <h2>Ingredients</h2>
                <ul>
                    <li>2 ripe avocados</li>
                    <li>1 cucumber</li>
                    <li>1 small red onion</li>
                    <li>Cherry tomatoes</li>Images
                    <li>Olive oil</li>
                    <li>Lemon juice</li>
                    <li>Salt and pepper</li>
                </ul>
            </div>
        
            <div class="section">
                <h2>Instructions</h2>
                <ol>
                    <li>Chop the avocados, cucumber, and red onion.</li>
                    <li>Halve the cherry tomatoes.</li>
                    <li>Combine all ingredients in a large bowl.</li>
                    <li>Drizzle with olive oil and lemon juice.</li>
                    <li>Season with salt and pepper to taste.</li>
                    <li>Toss gently and serve.</li>
                </ol>
            </div>
        
            <a href="Nutrition.html" class="back-button">Back to Recipes</a>
        </div>
        
        
        
        
        

    </div>
    <script src="css/Nutrition.js"></script>
</body>

</html>