<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#"><img src="Images/logo1.png" alt="logo"></a>
            <div class="navLinks" id="navLinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="">SIGN UP</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="textbox">
            <h1>Bloom</h1>
            <p>
                Bloom is an innovative platform that tracks women’s mood changes, monitors mental health, and keeps records of menstrual cycles, while suggesting a doctor visit in case of unusual patterns or problems.
                Integrated a freemium subscription model for consultation with doctors, along with a chatbot to answer any queries and automatic suggestions to seek medical attention in unusual cases.
                creating a feature offering Ayurvedic remedies, yoga poses to alleviate pain, and food recommendations tailored for women suffering from PCOD.
                            
            </p>
        </div>
    </header>

    <!-- course -->
    <section class="course">
        <h1>Our Features</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, sunt.</p>

        <div class="row">
            <div class="courseCol">
                <h3>Mood Tracker</h3>
                <p>Track your mood patterns and sync them with your menstrual cycle to understand emotional shifts and improve overall well-being.</p>
            </div>
            <div class="courseCol">
                <h3>Nutrition Tips</h3>
                <p>Receive personalized dietary tips to ease period symptoms, boost energy levels, and support overall health with nutrient-rich foods and hydration.</p>
            </div>
            <div class="courseCol">
                <h3>Health Care</h3>
                <p>Connect with certified healthcare professionals to receive personalized advice, address concerns, and improve your overall menstrual health and well-being.</p>
            </div>
            <div class="courseCol">
                <h3>Yoga and Exercise</h3>
                <p>Explore gentle movements and yoga poses that help relieve period discomfort, reduce cramps, and promote relaxation during your cycle.</p>
            </div>
        </div>
    </section>

    <!-- facilities -->

    <section class="facilities">
        <h1>Our Vison</h1>
        <p>We strive to provide the best support possible to our Coustmers.
        </p>

        <div class="row">
            <div class="faclities_col">
                <img src="Images/vision2.png" alt="library">
                <h3>Holistic Cycle Tracking and Management</h3>
                <p>Offer a comprehensive platform that empowers users to track their menstrual cycles, moods, and dietary habits, providing data-driven insights for healthier, more informed decision-making</p>
            </div>
            <div class="faclities_col">
                <img src="Images/vision1.png" alt="library">
                <h3>Personalized Wellness and Emotional Support</h3>
                <p>Cultivate a supportive environment with tailored advice, gentle movement routines, and mental health resources to help users nurture their emotional well-being throughout each cycle.</p>
            </div>
        </div>
    </section>

    <!-- testimonials -->

    <section class="testimonials">
        <h1>Meet the team</h1>
        <p>People behind our idea, driving froce of Bloom
        </p>
        <div class="row">
            <div class="testimonial_Col">
                <img src="Images/Suhani.png" alt="student1">
                <div>
                    
                    <h4>Suhani Goyal</h4>
                </div>
            </div>
            <div class="testimonial_Col">
                <img src="Images/mehank.png" alt="student1">
                <div>
                    
                    <h4>Mehak Dogra</h4>
                </div>
            </div>
            <div class="testimonial_Col">
                <img src="Images/Khushi.png" alt="student1">
                <div>
    
                    <h4>Khushi Sharma</h4>

                </div>
            </div>
            <div class="testimonial_Col">
                <img src="user2.jpg" alt="student1">
                <div>
    
                    <h4>Mehak Sheikh</h4>
                    
                </div>
            </div>
        </div>

    </section>
<!-- JavaScrip for Toggle Menu -->
<script>

    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>