<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href="css/Nutrition.css">

</head>

<body>
    
    <div class="app-container">

        <div class="header">
            <div>
                <img src="Images/logo .png" alt="logo" class="logo">
            </div>
            <div class="left-header">
                <p class="home">Home</p>
                <img src="Images/profile.png" alt="prf" class="profile">
            </div>

        </div>
        <div class="first_row">
        <div class="sidebar">
            <!-- Div Header-->
            <!-- Links in Div -->
            <a href="#section1"> Water Tracking </a>
            <a href="#section2"> Ayurvedic Nuskhes </a>
            <a href="#section3">Healthy Recipies </a>
        </div>

        <div class="water_tracking" id="section1">
            <div><h1>Drink Water</h1>
                <h3>Goal: 2 Liters</h3>
            </div>
            
            <div class="cup">
                <div class="remained" id="remained">
                    <span id="liters"></span>
                    <small>Remained</small>
                </div>
                <div class="percentage" id="percentage"></div>
            </div>
                
            <div class="cups">
                <p class="text">Select how many glasses of water that you have drank</p>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
                <div class="cup cup-small">250 ml</div>
            </div>

        </div>
        </div>
        <div class="medcines" id="section2">
            <div class="container">
                <h2>Ayurvedic Nuskhe</h2>
                <ul class="cards">
                  <li class="card">
                    <div>
                      <h4 class="card-title">Ajwain Water</h4>
                      <div class="card-content">
                        <img src="Images/cumin.png" alt="Avatar" style="width:100%">
                        <p>Boil 1 teaspoon of carom seeds (ajwain) in water and drink on an empty stomach. Helps reduce period cramps and bloating.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Methi Seed Water</h4>
                      <img src="Images/2.png" alt="Avatar" style="width:100%">
                      <div class="card-content">
                        <p>Soak 1 teaspoon fenugreek (methi) seeds overnight and drink the water in the morning. Helps balance hormones and reduce inflammation.
                        </p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Asafoetida (Hing) Water</h4>
                      <div class="card-content">
                        <img src="Images/3.png" alt="Avatar" style="width:100%">
                        <p>Mix a pinch of hing in warm water and drink after meals. Helps with bloating and relieves cramps.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Turmeric and Ginger Milk</h4>
                      <div class="card-content">
                        <img src="Images/4.png" alt="Avatar" style="width:100%">
                        <p>Warm almond milk with turmeric and grated ginger. Reduces period pain and improves blood flow.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h3 class="card-title">Ashwagandha with Warm Milk</h3>
                      <div class="card-content">
                        <img src="Images/5.png" alt="Avatar" style="width:100%">
                        <p>Mix 1 teaspoon ashwagandha powder in warm milk before sleeping. Reduces stress and balances hormones.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Sesame Oil Massage</h4>
                      <div class="card-content">
                        <img src="Images/6.png" alt="Avatar" style="width:100%">
                        <p>Massage your lower abdomen with warm sesame seed oil. Relieves cramps and improves blood circulation.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Aloe Vera and Kesar Drink</h4>
                      <div class="card-content">
                        <img src="Images/7.png" alt="Avatar" style="width:100%">
                        <p>Fresh aloe vera juice with a pinch of saffron (kesar). Regulates periods and reduces heavy flow.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Tulsi and Cinnamon Tea</h4>
                      <div class="card-content">
                        <img src="Images/8.png" alt="Avatar" style="width:100%">
                        <p> Boil tulsi leaves with cinnamon and drink it daily. Balances hormones and reduces period cramps.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Cumin Seed (Jeera) Tea</h4>
                      <div class="card-content">
                        <img src="Images/9.png" alt="Avatar" style="width:100%">
                        <p>Boil 1 teaspoon cumin seeds in water and drink warm. Reduces period pain and helps digestion.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="info.html" class="card-link">Learn More</a>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <div class="recipies" id="section3">
            <div class="container">
                <h2>Special Recipes Health Edition</h2>
                <ul class="cards">
                  <li class="card">
                    <div>
                      <h4 class="card-title">Quinoa Upma</h4>
                      <div class="card-content">
                        <img src="Images/1h.png" alt="Avatar" style="width:100%">
                        <p>A fiber-rich breakfast made with quinoa and mixed veggies that helps in balancing blood sugar levels and keeps you full for longer.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h3 class="card-title">Chia Seed Pudding</h3>
                      <div class="card-content">
                        <img src="Images/2h.png" alt="Avatar" style="width:100%">
                        <p>A nutritious dessert made with chia seeds, almond milk, cinnamon, and berries, rich in omega-3 and reduces inflammation.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Spinach and Paneer Paratha</h4>
                      <div class="card-content">
                        <img src="Images/3h.png" alt="Avatar" style="width:100%">
                        <p>A healthy multigrain paratha filled with spinach and paneer, rich in iron and calcium, perfect for hormone regulation.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title"> Avocado and Quinoa Salad</h4>
                      <div class="card-content">
                        <img src="Images/5h.png" alt="Avatar" style="width:100%">
                        <p>A protein-packed, anti-inflammatory salad with avocado, quinoa, chickpeas, and lemon dressing that helps in balancing hormones.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Moong Dal Chilla</h4>
                      <div class="card-content">
                        <img src="Images/4h.png" alt="Avatar" style="width:100%">
                        <p>A lentil pancake made with moong dal and spices, rich in plant-based protein and good for gut health.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Service 6</h4>
                      <div class="card-content">
                        <img src="Images/6h.png" alt="Avatar" style="width:100%">
                        <p>Donec ut tincidunt nisl. Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                  <li class="card">
                    <div>
                      <h4 class="card-title">Service 12</h4>
                      <div class="card-content">
                        <img src="Images/7h.png" alt="Avatar" style="width:100%">
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ornare metus ac lectus scelerisque volutpat.</p>
                      </div>
                    </div>
                    <div class="card-link-wrapper">
                      <a href="" class="card-link">Learn More</a>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        
        
        

    </div>
    <script src="css/Nutrition.js"></script>
</body>

</html>